@charset "UTF-8";
@font-face {
  font-family: ROLAchan, Verdana, Geneva, Tahoma, sans-serif;
  src: local("../fonts/ROLAchan-Regular.otf");
}

.top h1 {
  font-family: ROLAchan, Verdana, Geneva, Tahoma, sans-serif;
}

.top {
  background-image: url(../img/top.png);
  background-size: cover;
}

@media only screen and (max-width: 760px) {
  .top-title {
    font-size: 48px
  }
}
